<html>
    <head>
        <title>{{block "title" .}}Quinto Auction Portal{{end}}</title>
        {{block "base-style" .}}
        <link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.min.css">
        {{end}}
        {{block "style" .}}{{end}}
    </head>
    <body>
        {{block "body" .}}{{end}}
        {{block "base-javascript" .}}
        <script src="vendor/jquery/dist/jquery.min.js"></script>
        <script src="vendor/bootstrap/dist/js/bottstrap.min.js"></script>
        {{end}}
        {{block "javascript" .}}{{end}}
    </body>
</html>
