<html>
    <head>
        <style>
            .main {
                
            }
        </style>
    </head>
    <body>
        <div class="main">
            <h1>Quinto</h1>

            <p>
            Latencia de carga. <i>Velocidad</i>
            <br/>
            Comprobación funcional. <i>Integridad</i>
            <br/>
            Reestructuración visual. <i>Estética</i>
            <br/>
            <h2>Primer impacto</h2>
            </p>

            <p>
            Latencia de carga. <i>Velocidad</i>
            <br/>
            Comprobación funcional. <i>Integridad</i>
            <br/>
            Reestructuración visual. <i>Estética</i>
            <br/>
            <h2>Segundo impacto</h2>
            </p>

            <p>
            Latencia de carga. <i>Velocidad</i>
            <br/>
            Comprobación funcional. <i>Integridad</i>
            <br/>
            Reestructuración visual. <i>Estética</i>
            <br/>
            <h2>Tercer impacto</h2>
            </p>

            <p>
            Latencia de carga. <i>Velocidad</i>
            <br/>
            Comprobación funcional. <i>Integridad</i>
            <br/>
            Reestructuración visual. <i>Estética</i>
            <br/>
            <h2>Cuarto impacto</h2>
            </p>

            <p>
            Latencia de carga. <i>Velocidad</i>
            <br/>
            Comprobación funcional. <i>Integridad</i>
            <br/>
            Reestructuración visual. <i>Estética</i>
            <br/>
            <h2>Quinto impacto</h2>
            </p>
        </div>
    </body>
</html>
